@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap&subset=cyrillic');

@font-face {
  font-family: 'Century Gothic Regular';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('../fonts/CenturyGothic-Bold.eot');
  src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic-Bold.woff') format('woff'),
  url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*@font-face {
  font-family: 'BMW Regular';
  src: url('../fonts/BMWMotorradW05-Regular.eot');
  src: url('../fonts/BMWMotorradW05-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BMWMotorradW05-Regular.woff') format('woff'),
  url('../fonts/BMWMotorradW05-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMW Global Pro Regular';
  src: url('../fonts/BMWGlobal_Pro_reg.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMW Global Pro Bold';
  src: url('../fonts/BMWMotorradW05-Bold.woff2');
  font-weight: normal;
  font-style: normal;
}*/