@import "layout/var";

.catalog {
  background: white;
  position: absolute;
  top: 100%;
  z-index: 1001;
  left: 0;
  width: 100%;
  transition: transform 0.9s;
  padding: 45px 60px 30px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;

  @media (max-width: $lg) {
    padding: 30px 9px;
  }

  @media (max-width: $sm) {
    padding: 15px;
  }

  @media (max-width: $xs) {
    height: calc(100vh - 120px);
    padding-top: 0;
    overflow: hidden;
  }

  &__categories {
    display: flex;
    opacity: 0;
    transform: translateY(-30px);
    flex-shrink: 0;
    transition: 0.3s;
    margin-top: 13px;
    overflow-x: auto;

    @media (max-width: $xs) {
      width: calc(100% + 15px);
    }

    &--shown {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__cat {
    display: block;
    font-size: 22px;
    line-height: 26px;
    color: $dark;
    cursor: pointer;
    margin: 0 21px;
    padding-bottom: 24px;
    transition: 0.1s;
    position: relative;
    flex-shrink: 0;

    @media (max-width: $sm) {
      font-size: 18px;
      line-height: 20px;
      padding-bottom: 18px;
      margin: 0 15px;
    }

    @media (max-width: $xs) {
      font-size: 16px;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: calc(50% - 10px);
      bottom: 0;
      width: 20px;
      height: 13px;
      background: url('../img/catalog-arrow.svg');
      opacity: 0;
      transition: 0.3s;
      transform: translateY(-10px);

      @media (max-width: $sm) {
        background-size: cover;
        width: 16px;
        height: 11px;
        left: calc(50% - 8px);
      }
    }

    &:hover, &--active {
      text-shadow: 1px 0 1px $dark;

      &:before {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &--small {
      font-size: 20px;
      line-height: 23px;
      margin: 0 17px;

      @media (max-width: $sm) {
        font-size: 16px;
        line-height: 20px;
      }

      @media (max-width: $xs) {
        font-size: 14px;
        margin: 0 10px;
      }

      &:first-child {
        margin-left: 21px;

        @media (max-width: $sm) {
          margin-left: 15px;
        }

        @media (max-width: $xs) {
          margin-left: 0;
        }
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: 0.5s;
    overflow: auto;
    padding-right: 7%;

    @media (max-width: $lg) {
      padding-right: 0;
    }

    &--shown {
      //opacity: 1;
    }
  }

  &__item {
    width: 18%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    min-height: 215px;
    cursor: pointer;
    margin-right: 2%;

    @media (max-width: $md) {
      width: 23%;
    }

    @media (max-width: $sm) {
      min-height: 200px;
    }

    @media (max-width: $xs) {
      width: 48%;
    }

    &:hover {
      a {
        //font-family: $serviceFontRegular;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        border-color: $dark;

        @media (max-width: $sm) {
          font-size: 20px;
        }
      }
    }

    a {
      display: block;
      margin-top: 17px;
      color: $dark;
      font-size: 18px;
      line-height: 23px;
      padding-bottom: 11px;
      border-bottom: 3px solid transparent;

      @media (max-width: $sm) {
        font-size: 16px;
        border-bottom-width: 2px;
        padding-bottom: 8px;
      }
    }
  }

  &__item-img {
    width: 100%;
    height: 135px;
    display: flex;

    @media (max-width: $sm) {
      height: 130px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: auto;
    }
  }

  &__text-wrap {
    width: 100%;
    margin: 30px 21px 44px;

    @media (max-width: $sm) {
      margin-bottom: 30px;
    }

    @media (max-width: $xs) {
      margin: 0;
      overflow: hidden;
    }
  }

  &__text-title {
    font-family: $boldFont;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 30px;

    @media (max-width: $md) {
      font-size: 30px;
    }

    @media (max-width: $sm) {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    @media (max-width: $xs) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 15px;
    }
  }

  &__text {
    font-family: $regFont;
    font-size: 14px;
    line-height: 17px;
  }

  &__text-list {
    margin: 52px 0 0 50%;
    padding: 0;
    list-style: none;

    @media (max-width: $sm) {
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      margin: 15px 30px;
    }

    li {
      font-family: $regFont;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__text-button {
    font-size: 12px;
    line-height: 15px;
    padding: 0 21px;
    margin: 45px 0 0 50%;
    transform: translateX(-50%);

    @media (max-width: $sm) {
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      margin-top: 0;
    }
  }
}