@import "layout/var";

.header {
  width: 100%;
  padding: 12px 40px 11px;
  display: flex;
  align-items: center;
  z-index: 1002;
  position: relative;
  background: white;
  transition: 0.3s;

  @media (max-width: 1361px) {
    padding: 12px 30px 11px;
  }

  @media (max-width: $xs) {
    flex-wrap: wrap;
    padding: 10px 15px;
  }

  &--scrolling {
    position: fixed;
    top: 0;
    left: 0;

    & + .header__catalog {
      position: fixed;
      top: 75px;
    }
  }

  &--hidden {
    transform: translateY(-100%);
  }

  &--opened_menu {
    .header__menu-button {
      span:not(.header__menu-label) {

        &:nth-child(1) {
          transform: rotate(45deg);
          top: 10px;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 10px;
        }
      }

      .header__menu-label {
        &--menu {
          display: none;
        }

        &--close {
          display: block;

          @media (max-width: $xs) {
            display: none;
          }
        }
      }
    }

    .header__form {
      opacity: 1;

      @media (max-width: $xs) {
        height: 39px;
      }
    }

    & + .header__catalog {
      transform: translateY(0);

      @media (max-width: $xs) {
        transform: translateY(37px);
      }

      .catalog__items--shown {
        opacity: 1;
      }
    }
  }

  &__catalog {
    transform: translateY(-100%);
  }

  &__menu-button {
    cursor: pointer;
    position: relative;
    padding-left: 58px;

    @media (max-width: $sm) {
      padding-left: 45px;
    }

    @media (max-width: $xs) {
      order: 0;
      margin-top: -20px;
    }

    span:not(.header__menu-label) {
      display: block;
      width: 33px;
      height: 4px;
      background: $dark;
      position: absolute;
      left: 5px;
      transition: 0.3s;

      @media (max-width: $sm) {
        width: 25px;
        height: 2px;
      }

      &:nth-child(1) {
        top: 3px;
      }

      &:nth-child(2) {
        top: 11px;
      }

      &:nth-child(3) {
        top: 19px;
      }
    }
  }

  &__menu-label {
    color: $dark;
    font-family: $textFont;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

    @media (max-width: $sm) {
      font-size: 18px;
      line-height: 24px;
    }

    @media (max-width: $xs) {
      display: none;
    }

    &--close {
      display: none;
    }
  }

  &__form {
    margin-left: 27px;
    opacity: 0;
    transition: 0.3s;

    @media (max-width: $lg) {
      min-width: 0!important;
      width: 100%;
      margin-right: 30px!important;
    }

    @media (max-width: $md) {
      margin-right: 15px!important;
    }

    @media (max-width: $sm) {
      margin-left: 15px!important;
    }

    @media (max-width: $xs) {
      order: 3;
      height: 0;
      margin: 10px 0!important;
    }
  }

  &__order {
    margin-left: auto;

    @media (max-width: $sm) {
      font-size: 14px;
    }

    @media (max-width: $xs) {
      order: 4;
    }
  }

  &__basket {
    font-family: $serviceFontRegular;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    position: relative;
    padding: 4px 20px 6px 36px;
    color: $dark;
    border-bottom: 2px dashed $dark;
    cursor: pointer;
    margin-left: 43px;
    transition: 0.3s;

    @media (max-width: $md) {
      font-size: 0;
      margin: 0 10px 0 30px;
    }

    @media (max-width: $sm) {
      margin: 0 0 0 15px;
    }

    @media (max-width: $xs) {
      order: 1;
      margin-left: auto;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 5px;
      width: 29px;
      height: 20px;
      background: url('../img/order-icon.svg');
    }

    &:hover {
      border-color: $blue;
    }

    span {
      font-family: $textFont;
      font-size: 14px;
      line-height: 16px;
      color: $blue;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__logo {
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @media (max-width: $md) {
      margin-left: 20px;
    }

    @media (max-width: $xs) {
      order: 2;
    }

    img {
      width: 179px;

      @media (max-width: $sm) {
        width: 130px;
      }
    }

    span {
      font-weight: 900;
      font-size: 10px;
      color: black;
      line-height: 13px;
      margin-left: 51px;

      @media (max-width: $sm) {
        margin-left: 0;
        line-height: 10px;
        margin-top: 3px;
      }
    }
  }
}