@import "layout/var";

.product-tabs {
  font-family: $regFont;

  &__flex {
    display: flex;
  }

  &__item {
    font-size: 18px;
    line-height: 22px;
    color: $dark;
    display: block;
    padding: 10px 0;
    margin-right: 35px;

    @media (max-width: $xs) {
      font-size: 14px;
      line-height: 18px;
    }

    &:hover {
      color: $blue;
    }

    &--active {
      font-weight: 800;
      cursor: default;

      &:hover {
        color: $dark;
      }
    }
  }
}

.product-info {
  color: white;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  top: 0;
  right: 0;
  bottom: 0;
  width: 481px;
  transform: translateX(100%);
  transition: 0.3s;
  padding: 47px;
  font-family: $regFont;
  display: flex;
  flex-direction: column;

  @media (max-width: $md) {
    padding: 30px;
  }

  @media (max-width: $sm) {
    width: 45%;
  }

  @media (max-width: $xs) {
    position: relative;
    width: 100%;
    background: $dark;
    padding: 15px;
  }

  &--shown {
    transform: translateX(0);
  }

  &__name {
    font-weight: 800;
    font-family: $boldFont;
    font-size: 30px;
    line-height: 37px;
    width: 105%;

    @media (max-width: $md) {
      font-size: 24px;
      line-height: 30px;
      width: 100%;
    }

    @media (max-width: $sm) {
      font-size: 18px;
      line-height: 20px;
    }

    &--small {
      font-size: 28px;
      line-height: 34px;

      @media (max-width: $md) {
        font-size: 24px;
        line-height: 30px;
        width: 100%;
      }

      @media (max-width: $sm) {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }

  &__price {
    font-weight: bold;
    font-family: $boldFont;
    font-size: 26px;
    line-height: 32px;
    margin-top: 8px;

    @media (max-width: $md) {
      font-size: 20px;
    }

    @media (max-width: $sm) {
      font-size: 16px;
    }

    &--big_top {
      margin-top: 21px;

      @media (max-width: $md) {
        margin-top: 10px;
      }

      @media (max-width: $sm) {
        margin-top: 5px;
      }
    }
  }

  &__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 18px;
    margin-bottom: 17px;
    min-height: 50%;
    max-height: 100%;
    overflow: auto;

    @media (max-width: $lg) {
      min-height: 40%;
    }

    @media (max-width: $md) {
      font-size: 14px;
      line-height: 18px;
      margin: 10px 0 auto;
      min-height: 0;
    }

    @media (max-width: $sm) {
      font-size: 12px;
      line-height: 14px;
      margin: 5px 0 auto;
    }

    @media (max-width: $xs) {
      min-height: 100%;
    }

    &--small {
      min-height: 0;
      margin-bottom: auto;

      @media (max-width: $md) {
        margin-bottom: 10px;
      }

      @media (max-width: $sm) {
        margin-bottom: 15px;
      }
    }
  }

  &__button {
    margin-top: 12px;
    flex-shrink: 0;

    @media (min-width: 768px) and (max-width: $sm) {
      font-size: 12px;
      margin-top: 10px;
      height: 26px;

      span {
        &:before {
          width: 23px;
          height: 16px;
        }
      }
    }

    @media (max-width: $xs) {
      font-size: 14px;
    }
  }
}

.product-with {
  padding: 44px 0 0;
  position: relative;

  @media (max-width: $sm) {
    padding-top: 30px;
  }

  @media (max-width: $xs) {
    overflow: hidden;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 281px;
    background: #2B2E33;
  }

  &__items {
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.04);
    position: relative;
    z-index: 1;
    padding-bottom: 37px;
    margin-top: 48px;

    @media (max-width: $sm) {
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      padding: 0 15px 30px;
    }
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: 42px;
    width: 33.33%;
    position: relative;

    @media (max-width: $lg) {
      padding: 30px;
    }

    @media (max-width: $sm) {
      padding: 15px;
    }

    @media (max-width: $xs) {
      width: 100%;
      padding: 15px 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      right: 0;
      top: 42px;
      bottom: 42px;
      background: rgba(0, 0, 0, 0.1);

      @media (max-width: $lg) {
        top: 30px;
        bottom: 30px;
      }

      @media (max-width: $sm) {
        top: 15px;
        bottom: 15px;
      }

      @media (max-width: $xs) {
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.1);

      @media (max-width: $xs) {
        display: none;
      }
    }

    &:nth-child(1),
    &:nth-child(4n+4) {
      &:after {
        left: 42px;

        @media (max-width: $lg) {
          left: 30px;
        }

        @media (max-width: $sm) {
          left: 15px;
        }
      }
    }

    &:nth-child(3n+3) {
      &:before {
        display: none;
      }

      &:after {
        right: 42px;

        @media (max-width: $lg) {
          right: 30px;
        }

        @media (max-width: $sm) {
          right: 15px;
        }
      }
    }

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
      &:after {
        display: none;
      }
    }
  }

  &__button {
    margin: 14px 0 0 50%;
    transform: translateX(-50%);
    padding: 0 30px;
  }
}

.product {
  padding: 54px 0 0;

  @media (max-width: $sm) {
    padding-top: 30px;
  }

  @media (max-width: $xs) {
    overflow: hidden;
  }

  &:before {
    display: none;
  }
}

.product-slider {
  margin-top: 51px;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 37px;

  @media (max-width: $sm) {
    margin-top: 30px;
    padding-bottom: 15px;
  }

  &__slide {
    padding-right: 40px;

    @media (max-width: $md) {
      padding-right: 20px;
    }

    &--more {
      background: $blue;
      color: white;
      padding: 34px 74px 34px 34px;
      font-family: $regFont;
      font-weight: 500;
      font-size: 22px;
      line-height: 118.69%;
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $md) {
        padding-right: 54px;
      }

      @media (max-width: $sm) {
        font-size: 18px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px;
        background: white;

        @media (max-width: $md) {
          width: 20px;
        }
      }

      img {
        margin-top: 9px;
      }

      span {
        &.center {
          text-align: center;
          width: 100%;
          display: block;
        }

        img {
          margin: 0 0 0 15px;

          @media (max-width: $sm) {
            margin-top: 10px;
            margin-left: 50%;
            display: block;
          }
        }
      }
    }

    .item-block__name {
      font-size: 16px;
      line-height: 20px;
    }

    .item-block__description {
      font-weight: 500;
      font-size: 14px;
      line-height: 141.9%;
    }
  }

  &__price {
    font-size: 18px!important;
    line-height: 22px!important;
  }

  &__arrow {
    width: 17px;
    height: 27px;
    background: url('../img/product-arrow.svg');
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}