@import "layout/var";

.search {
  background: #F2F2F2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 420px;

  &__input {
    border: 0;
    width: 100%;
    box-shadow: none;
    background: transparent;
    font-size: 18px;
    line-height: 21px;
    padding: 9px 0 9px 24px;

    @include placeholderColor(rgba(0,0,0,0.3));

    @media (max-width: $lg) {
      padding-left: 15px;
    }

    @media (max-width: $sm) {
      font-size: 12px;
    }
  }

  &__button {
    display: block;
    width: 50px;
    flex-shrink: 0;
    margin: 0 10px;
    height: 35px;
    background: url('../img/search-icon.svg') center no-repeat;
    cursor: pointer;

    @media (max-width: $lg) {
      width: 30px;
    }

    @media (max-width: $sm) {
      background-size: cover;
      width: 20px;
      height: 20px;
    }
  }
}