@import "layout/var";

.text {
  padding: 40px 0 40px;
  font-family: $itemFont;
  color: $dark;
  font-size: 14px;
  line-height: 17px;

  @media (max-width: $xs) {
    padding: 15px 0;
  }

  &__vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__address {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
  }

  &__line {
    width: 704px;
    height: 1px;
    background: rgba(193, 192, 192, 0.5);
    margin: 24px 0;
  }

  &__contact {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $dark;

    &:hover {
      color: $blue;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 14px;
    margin-top: 30px;
    font-family: $textFont!important;
  }

  &__button {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 17px;
  }

  h1 {
    font-weight: 800;
    font-size: 66px;
    line-height: 73px;
    margin-bottom: 20px;

    @media (max-width: $md) {
      font-size: 54px;
      line-height: 61px;
    }

    @media (max-width: $xs) {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 10px;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 30px;

    @media (max-width: $md) {
      font-size: 36px;
      line-height: 41px;
    }

    @media (max-width: $xs) {
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 10px;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 30px;

    @media (max-width: $md) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: $xs) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 25px;

    @media (max-width: $md) {
      font-size: 22px;
      line-height: 28px;
    }

    @media (max-width: $xs) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  h5 {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;

    @media (max-width: $md) {
      font-size: 20px;
      line-height: 24px;
    }

    @media (max-width: $xs) {
      font-size: 17px;
      line-height: 21px;
      margin-bottom: 10px;
    }
  }

  h6 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;

    @media (max-width: $md) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }

  p {
    margin-bottom: 20px;
    font-family: $itemFont;

    @media (max-width: $xs) {
      margin-bottom: 15px;
    }
  }
}